body {
    background-color: rgb(243, 156, 18);
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #quote-box {
    background-color: white;
    border-radius: 17px;
    position: relative;
    width: 450px;
    padding: 40px;
  }
  
  #text {
    text-align: center;
    font-weight: 500;
    font-size: 1.6em;
    color: rgb(243, 156, 18);
  }
  
  #quote {
    color: rgb(243, 156, 18);
  }
  
  #author {
    text-align: right;
    padding-top: 24px;
    color: rgb(243, 156, 18);
  }
  
  .buttons {
    background-color: rgb(243, 156, 18);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 8px;
    padding: 0px;
    padding-top: 10px;
    font-size: 1.2em;
    height: 30px;
    width: 40px;
  }
  
  .buttons:hover {
    opacity: 0.7;
  }
  
  #new-quote {
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: 30px;
    height: 40px;
    font-size: 0.9em;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
  }
  
  #new-quote:hover {
    opacity: 0.7;
  }
  